body{
 font-family: "Gill Sans", sans-serif;

}

div.transbox {
  background-color: #ffffff;
  opacity: 0.8;

}

div.transbox p {
    font-weight: bold;
    color: #000000;
    font-size: 18px;
    padding-top: 15%;
}

h1.index-h1 {
    margin-left: 38%;
    font-weight: bolder;
    padding: 1% 1% 1% 1%;
}

 .loggo{
      background-color: #ffffff;
      opacity: 0.8;


    }

.main {

     margin: 29px;
    text-align: center;
    padding-bottom: 13%;
}

h2.aGame {
    margin-left: -2%;
    margin-bottom: -16%;
    color: red;
    padding-top: 59px;
}

.menu {
  text-align: center;

   padding: 0% 0% 0% 6%;

}

#btn {

    margin: 20px;
    font-size: 26px;
    color: #637d63;
    border-radius: 13%;
    background-color: #9c0511;
    color:white;
}

a {
  text-decoration: none;
  color: white;
}

#btn:hover{
  background-color: black;
  border:2px solid #a7a6a6;
  font-weight:bold;

}

a:hover{
color:#a7a6a6;

}



span.intro {
    font-size: 19px;
    font-weight: bolder;
}



/*Memory sida, spelsidan*/

#container {
     background: radial-gradient(#000, #000, #9a1b00);
}

h1.secondmem {
    color: white;
    text-shadow: 2px 2px #585858;
}

button.home {
    background-color: #f7a650;
    width: 83px;
    height: 34px;
    border-radius: 8%;
    color: white;
    font-size: 14px;
    border: none;
}



button#newGameBtn {
  background-color: #ffe500;
    width: 87px;
    height: 34px;
    border-radius: 8%;
    color: white;
    font-size: 14px;
    border: none;
}

div#countClick {
    color: #4ff310;
    font-size: 17px;
    font-weight: initial;
}

button.home:hover {
    color: #f7a650;
  border:2px solid  #f7a650;
  background-color: #ffffff00;
  font-size: 10px;

}

button#newGameBtn:hover {
  color: #ffe500;
  border:2px solid  #ffe500;
  background-color: #ffffff00;
  font-size: 10px;
}

img {
     height: 210px;
    width: 200px
}

td {
border: 7px solid lightblue;
}


/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    margin: auto 0;
        padding: 1% 1% 1% 1%;
    /* width: 91%; */

}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 80%;
    background-color: #d65100;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 30%;
    height: 31vh;
    margin-left: -76px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}










/*Iphone 5*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


.container {
    width: 97%;
    padding: 1% 1% 1% 1%;
    }



.transbox {
  background-color: #ffffff;
  opacity: 0.8;
  height: 78vh;
 }

    h1.index-h1 {
    margin-left: 16%;
    font-size: 23px;
    padding: 7% 1% 4% 3%;
}

   h2.aGame {
    margin-left: -12%;
    font-size: 18px;
    margin-bottom: -4%;
    color: red;
    padding-top: 17px;
}

    .menu {
      text-align: center;
      padding: 0% 0% 0% 6%;
      margin-top: -22%;

      }

     img {
    height: 54px;
    width: 79px;

}

  table {
    margin-top: -36px;
  }

}



/*Iphone 6*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .transbox {
         height: 66vh;
    }

    img {
          height: 69px;
          width: 99px;
        }





}

/*Iphone 6+*/
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    .transbox {
              height: 59vh;
    }

    img {
      height: 73px;
      width: 108px;
    }

}

/*Iphone iphonex*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    .transbox {
    height: 54vh;
}

}



/*Ipad*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

    .transbox p {
      font-weight: bold;
      font-size: 18px;
      padding-top: 7%;
    }


    h2.aGame {
    padding-top: 4%;
  }

  table {
    margin-top: -43px;
  }

  img {
    height: 77px;
    width: 210px;
  }

}




/*Ipad pro*/
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 834px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {


    img {
    height: 74px;
    width: 259px;
}

}
