body html {
  height:100%; 
}

body{
 font-family: "Gill Sans", sans-serif;

}




div.transbox { 
  background-color: #ffffff;
  opacity: 0.8;
 
}

div.transbox p {
     margin: 5%;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
}

h1.index-h1 {
    margin-left: 38%;
    font-size: 38px;
    font-weight: bolder;
    padding: 1% 1% 1% 1%;
}



.main {

     margin: 29px;
    text-align: center;
    padding-bottom: 13%;
}

h2.aGame {
  
    margin-left: -53%;
    margin-bottom: -6%;
    color: red;
}

.menu {
  text-align: center;
   
   padding: 0% 0% 0% 6%;

}

#btn {

    margin: 20px;
    font-size: 26px;
    color: #637d63;
    border-radius: 13%;
    background-color: #9c0511;
    color:white;
}

a {
  text-decoration: none;
  color: white;
}

#btn:hover{
  background-color: black;
  border:2px solid #a7a6a6;
  font-weight:bold;

}

a:hover{
color:#a7a6a6;

}



span.intro {
    font-size: 19px;
    font-weight: bolder;
}



/*Memory sida, spelsidan*/

#container {
     background: radial-gradient(#a50a0a, #daab58, #9a1b00);
}

h1.secondmem {
    color: white;
    text-shadow: 2px 2px #585858;
}

button.home {
    background-color: #f7a650;
    width: 83px;
    height: 34px;
    border-radius: 8%;
    color: white;
    font-size: 14px;
    border: none;
}



button#newGameBtn {
  background-color: #ffe500;
    width: 87px;
    height: 34px;
    border-radius: 8%;
    color: white;
    font-size: 14px;
    border: none;
}

div#countClick {
    color: #4ff310;
    font-size: 17px;
    font-weight: initial;
}

button.home:hover {
    color: #f7a650;
  border:2px solid  #f7a650;
  background-color: #ffffff00;
  font-size: 10px;
   
}

button#newGameBtn:hover { 
  color: #ffe500;
  border:2px solid  #ffe500;
  background-color: #ffffff00;
  font-size: 10px;
}

img {

height: 150px;
width: 172px;
}

td {
border: 7px solid lightblue;
}







@media only screen and (max-width: 812px) {

  /*Första sidan*/



  .container {
    width: 97%;
    padding: 1% 1% 1% 1%;
    }

    div.transbox {
      background-color: #ffffff;
      opacity: 0.8;
      height: 81vh;
    }

    h1.index-h1 {
      margin-left: 27%;
      font-size: 23px;
      font-weight: bolder;
      padding: 7% 1% 1% 1%;
      }

    h2.aGame {
      margin-left: -12%;
      margin-bottom: -4%;
      color: red; 
      }

    .menu {
      text-align: center;
      padding: 0% 0% 0% 6%;
      margin-top: -22%;
   
      }

      img {
            height: 52px;
              width: 96px;
          }

}




/*
@media only screen and (max-width: 1024px) {

  /*Första sidan*//*
h1.index-h1 {
    margin-left: 30%;
    font-size: 43px;
    font-weight: bolder;
    padding: 1% 1% 1% 1%;
}

.main {
    margin: 29px;
    text-align: center;
    padding-bottom: 13%;
}
h2.aGame {
    margin-left: -48%;
    margin-bottom: -4%;
    color: red;
}

div.transbox p {
    margin: 4%;
    font-weight: bold;
    color: #000000;
    font-size: 23px;
}

.menu {
    text-align: center;
    padding: 0% 0% 0% 6%;
    margin-top: -17%;
}
div.transbox {
    
  height: 43vh;
}

}*/



/*@media only screen and (max-width: 1366px) {

  div.transbox {
    height: 33vh;
}
h1.index-h1 {
    margin-left: 36%;
    font-size: 43px;
    font-weight: bolder;
    padding: 1% 1% 1% 1%;
}

}*/



@media only screen and (min-width: 1367px) {
 
}


