body{
 font-family: "Gill Sans", sans-serif;

}


div.transbox {
  background-color: #ffffff;
  opacity: 0.8;
}

div.transbox p {
    font-weight: bold;
    color: #000000;
    font-size: 18px;
    padding-top: 15%;
}


h1.index-h1 {
    margin-left: 38%;
    font-weight: bolder;
    padding: 1% 1% 1% 1%;
}

.loggo{
      background-color: #ffffff;
      opacity: 0.8;
}

.main {

     margin: 29px;
    text-align: center;
    padding-bottom: 13%;
}

h2.aGame {
    margin-left: -2%;
    margin-bottom: -16%;
    color: red;
    padding-top: 59px;
}

.menu {
  text-align: center;
  padding: 0% 0% 0% 6%;
}

#btn {
    margin: 20px;
    font-size: 26px;
    color: #637d63;
    border-radius: 13%;
    background-color: #9c0511;
    color:white;
}

a {
  text-decoration: none;
  color: white;
}

#btn:hover{
  background-color: black;
  border:2px solid #a7a6a6;
  font-weight:bold;
}

a:hover{
color:#a7a6a6;
}

span.intro {
  font-size: 19px;
  font-weight: bolder;
}



/*Memory sida, spelsidan*/

#container {
  background: radial-gradient(#000, #000, #9a1b00);
}

h1.secondmem {
  color: white;
  text-shadow: 2px 2px #585858;
}

button.home {
  background-color: #f7a650;
  width: 83px;
  height: 34px;
  border-radius: 8%;
  color: white;
  font-size: 14px;
  border: none;
}

button.home2 {
  background-color: #f7a650;
  width: 203px;
  height: 43px;
  color: white;
  font-size: 20px;
  border: none;
  position: absolute;
  z-index: 1;
  margin-top: -28%;
  margin-left: 40%;
  display:none;
}


.newGame {
  background-color: #ffe500;
  width: 87px;
  height: 34px;
  border-radius: 8%;
  color: white;
  font-size: 14px;
  border: none;
}

.popup-newGame {
  background-color: #09c133;
  width: 203px;
  height: 43px;
  color: white;
  font-size: 20px;
  border: none;
  position: absolute;
  z-index: 1;
  margin-top: -37%;
  margin-left: 40%;
  display:none;
}


#count2{
  position: absolute;
  z-index: 1;
  margin-top: -44%;
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  font-size: 25px;
  color: #ffe500;
  display:none;
  
}

.countClick {
  color: #4ff310;
  font-size: 17px;
  font-weight: initial;
}

button.home:hover {
  color: #f7a650;
  border:2px solid  #f7a650;
  background-color: #ffffff00;
  font-size: 10px;
}

button#newGameBtn:hover {
  color: #ffe500;
  border:2px solid  #ffe500;
  background-color: #ffffff00;
  font-size: 10px;
}

img {
  height: 210px;
  width: 200px
}

td {
  border: 7px solid lightblue;
}


/* Popup container  */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto 0;
  padding: 1% 1% 1% 1%;
  width: 83%;
  margin-top: 14%;

}

/* Popupen */
.popup .popuptext {
  visibility: hidden;
  width: 80%;
  background-color: #d65100;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 30%;
  height: 31vh;
  margin-left: -76px;
}



/* Döljer och visar popupen */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* animationen läggs till (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}









/*Iphone 5*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
   {

  .container {
    width: 97%;
    padding: 1% 1% 1% 1%;
  }

  .transbox {
    background-color: #ffffff;
    opacity: 0.8;
    height: 78vh;
 }

  h1.index-h1 {
    margin-left: 16%;
    font-size: 23px;
    padding: 7% 1% 4% 3%;
  }

   h2.aGame {
    margin-left: -12%;
    font-size: 18px;
    margin-bottom: -4%;
    color: red;
    padding-top: 17px;
  }

  .menu {
    text-align: center;
    padding: 0% 0% 0% 6%;
    margin-top: -22%;
  }

  img {
    height: 54px;
    width: 79px;
  }

  table {
    margin-top: -36px;
  }



  /*popup*/
  .popup .popuptext {
    margin-left: -29px;
  }

  span#myPopup {
    font-size: 20px;
  }

  #count2 {
    margin-top: -66%;
    margin-left: 34%;
    font-size: 18px; 
  }

  button.home2 {
    width: 122px;
    height: 36px; 
    font-size: 13px;
    margin-top: -34%;
    margin-left: 33%;    
  }

  .popup-newGame {
    width: 122px;
    height: 36px;   
    font-size: 13px;
    margin-top: -54%;
    margin-left: 33%;
  
  }

}



/*Iphone 6*/
@media only screen
  and (min-width: 375px)
  and (max-width: 667px)
 {

    .transbox {
         height: 66vh;
    }

    img {
          height: 69px;
          width: 99px;
        }

    #count2 {
      margin-left: 36%;  
      margin-top:-70%;
    }

    button.home2 {
      margin-left: 40%; 
      margin-top:-40%;  
    }

    .popup-newGame {
      margin-left: 40%;
      margin-top:-59%;
    }


  }

/*Iphone 6+*/
@media only screen
  and (min-width: 414px)
  and (max-width: 736px)
  {

    .transbox {
      height: 59vh;
    }

    img {
      height: 73px;
      width: 108px;
    }

}

/*Iphone iphonex*/
@media only screen
  and (min-width: 375px)
  and (max-width: 812px)
  {

    .transbox {
      height: 54vh;
    }

    .popup{
      margin-top: 73%;
    }

    span#myPopup {
      font-size: 20px;
    }

    #count2 {
      margin-top: -65%;
    }

    button.home2 {
          margin-top: -32%;  
    }

    .popup-newGame {
        margin-top: -48%;
    }


}

@media only screen
  and (min-width: 737px)
  and (max-width: 767px)
  {
    img {
        height: 73px;
        width: 108px;
     }

}


/*Ipad*/
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
   {

      .transbox p {
        font-weight: bold;
        font-size: 18px;
        padding-top: 7%;
      }


      h2.aGame {
        padding-top: 4%;
      }

      table {
        margin-top: -43px;
      }

      img {
        height: 77px;
        width: 210px;
      }

      span#myPopup {
        font-size: 39px;
      } 

      .popup {
        margin-top: 40%;
       }

      #count2 {
        margin-top: -44%;
      }

      button.home2 {
        margin-top: -22%;  
      }

      .popup-newGame {
          margin-top: -34%;
      }

}




/*Ipad pro*/
@media only screen
  and (min-width: 1024px)
 {


    img {
          height: 95px;
          width: 221px;        
        }

    table {
      margin-top: -2%;
    }

    span#myPopup {
     font-size: 46px;
    }

    #count2 {
      margin-left: 47%;
    }

    button.home2 {
        margin-left: 47%; 
    }

    .popup-newGame {     
            margin-left: 47%;
    }

}


